export OPENAI_API_KEY={{ onepasswordRead (printf "op://%s/OpenAI API Key/credential" .op_vault) | quote }}
export ANTHROPIC_API_KEY={{ onepasswordRead (printf "op://%s/Anthropic API Key/credential" .op_vault) | quote }}
