[submodule ".config/vim/pack/plugins/start/vim-commentary.vim"]
	path = .config/vim/pack/plugins/start/vim-commentary.vim
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/plugins/commentary"]
	path = .vim/pack/plugins/commentary
	url = https://tpope.io/vim/commentary.git
[submodule ".vim/pack/plugins/start/commentary"]
	path = .vim/pack/plugins/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule ".vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = https://tpope.io/vim/commentary.git
[submodule ".vim/pack/plugins/start/vim-tmux-navigator.vim"]
	path = .vim/pack/plugins/start/vim-tmux-navigator.vim
        url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/pack/plugins/start/vim-slime.vim"]
	path = .vim/pack/plugins/start/vim-slime.vim
	url = https://github.com/jpalardy/vim-slime.git
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule ".vim/pack/plugins/start/vim-unimpaired"]
	path = .vim/pack/plugins/start/vim-unimpaired
	url = https://tpope.io/vim/unimpaired.git
